.header {
  height: 55px;
}

.nav {

  a {
    background: url('../img/icon_menu.png') no-repeat 0 0 transparent;
    background-size: 100%;
    display: block;
    width: 34px;
    height: 34px;
    margin: 10px auto;
  }
}

.logo {
  // margin: -58px 0 0 -100px;
  // @include position(absolute, 50% 0 0 50%);
  img {
    height: 26px;
    width: auto;
    margin: 14px auto;
  }
}

.shopping-bag {
  &__count {
    background: url('../img/icon_bag.png') no-repeat 0 0 transparent;
    background-size: 100%;
    display: block;
    width: 34px;
    height: 34px;
    padding: 0 7px;
    margin: 10px auto;
    line-height: 44px;
    font-size: 1.1rem;
    text-align: center;
  }
}
