* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  // background: radial-gradient(ellipse at center, $base 0, $darken 80%, $back 100%);
}
body {
  font: 300 14px/1.6 'Helvetica Neue', Helvetica, Arial;
  color: $br;
  transition: all .4s .3s ease-in;
}
body,html{
	min-height: 100vh;
	// overflow: hidden;
}

.video {
  &__summary {
    .card {
      border: 0;
    }
    &__header {
      border-bottom: 0;
      background-color: transparent;
      padding: 1.5rem 1.25rem 0;

      h3 {
        margin: 0;
        font-weight: 300;

        a {
          color: $br-dark;
          text-decoration: none;
        }
      }
    }

    &__content {
      color: $br;
    }
  }
}

.rel-products {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &__list {
    &__slider {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__item {
      margin-right: 8px;
      padding: 7px 0 0 7px;
      opacity: .7;
      transition: opacity .2s;

      &.slick-center,
      &.slick-active {
        opacity: 1;
      }

      &.active {
        img {
          box-shadow: 0 0 12px 0 rgba(81,50,7,0.80);
        }
      }

      &__name {
        font-size: 12px;
        color: $br;
      }

      &__price {
        font-size: 12px;
        text-align: right;
      }
    }
  }

  &__detail {
    position: absolute;
    width: 100%;
    margin-left: -1rem;
    animation: detail-leave reverse .5s;

    &.close {
    }

    &.open {
      animation: detail-enter .3s;
      top: 27px;
      background: rgba(255, 255, 255, 1);
      padding: 1rem;
    }
  }

}

@keyframes detail-enter {
  0% {
    opacity: 0;
    left: 3rem;
  }
  100% {
    opacity: 1;
    left: 1rem;
  }
}

@keyframes detail-leave {
  0% {
    opacity: 1;
    left: 1rem;
  }
  100% {
    opacity: 0;
    left: 3rem;
  }
}

.detailed-product-info {
  margin-top: 2rem;

  &__item {
    margin-bottom: 25px;
  }
}
.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar {
  visibility: visible;
  opacity: 1;
}
