.pop {
  &__img {
    width: calc((100% - 52px) * 0.2857);
    margin: 0 15px 0 7px;
    box-shadow: 0 0 12px 0 rgba(81,50,7,0.80);
    display: inline-block;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 22px - ((100% - 52px) * 0.2857));

    &__productname {
      &__name {
        font-weight: 500px;
        font-size: 1.4rem;
        line-height: 1.6;
        margin: 0;
        color: $br-dark;
      }

      &__brand {
        color: $br-light;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
    }

    &__price {
      text-align: right;
      font-weight: 500;
    }
  }

  &__buylink {
    .btn {
      width: calc((100% - 52px) * 0.2857);
      margin: 0 15px 0 7px;
      background-color: $red;
      border-color: $red;
      padding: 5px 0;
    }
  }
}
